body {
    border: 3px solid black;
}

.container {
    border: 3px solid blue;
}

.row1 {
    border: 3px solid yellow;
}

form {
    border: 3px solid green;
   
}

.row2 {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border: 3px solid red;
}

.input-field {
    border: 3px solid pink;
    width: 50%;
}

.autocompleteSearch {
    border: 3px solid mediumaquamarine
}

.row3 {
    border: 3px solid purple;
}

.col-card {
    border: 3px solid lightblue;
}
.card {
    border: 3px solid red;
}
