body {
    border: 1px solid black;
}

.row1 {
    border: 1px solid yellow;
}

form {
    border: 1px solid green;
   
}

.row2 {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border: 1px solid red;
    width: 700px;
    margin: auto;
}

.input-field {
    border: 1px solid pink;
    width: 50%;
}

.autocompleteSearch {
    border: 1px solid mediumaquamarine
}